@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


// Media Query Manager
/*
0 - 600px:     Phone
600 - 900px:   Tablet potrait
900 - 1200px:  Tablet landscape
1200 - 1800px: Normal css styles apply here
1800 - infinity:Big desktop
*/

@mixin respond-phone {
    @media (max-width: 600px) { @content };
}